.home[data-home=posts] {
  .summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: $card-height;
    padding: 0;
    margin: 1.5rem 0;
    background-color: $card-background-color;
    @include border-radius($card-border-radius);
    @include box-shadow(0 .25rem 1rem rgba(0, 0, 0, .2));

    [theme=dark] & {
      background-color: $card-background-color-dark;
      border: none;
    }

    .featured-image-preview {
      position: absolute;
      height: $card-height;
      padding: 0;
      margin: 0 auto;
      overflow: hidden;
      z-index: -1;
      @include border-radius($card-border-radius);

      img {
        @include border-radius($card-border-radius);
        @include filter(blur(3px));
        @include transition(all 1s ease);
      }
    }

    .dummy {
      padding: 1rem;
    }

    .floating-text {
      z-index: 10;
    }

    .single-title {
      margin: 1rem .5rem;
      font-size: 1.375rem;
      text-align: center;
    }

    .post-summary-wrapper {
      box-sizing: border-box;
      width: 100%;
      padding: 1rem;

      .post-meta {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      .post-meta,
      .content {
        margin: .75rem 0;
        color: $global-font-color;
        @include link(true, true);

        [theme=dark] & {
          color: $global-font-color-dark;
        }
      }
    }

    .post-link-cover {
      display: block;
      position: absolute;
      width: 100%;
      height: $card-height;
      @include border-radius($card-border-radius);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .home[data-home=posts] {
    .summary {
      .featured-image-preview {
        img {
          @include filter(blur(0));
        }
      }

      &:hover {
        .featured-image-preview {
          img {
            @include transform(scale(1.375));
            @include filter(blur(5px));
          }
        }
      }
    }
  }
}

.single .content {
  ul,
  ol {
    padding-left: 2rem;
  }

  .table-wrapper {
    > table {
      min-width: 40rem;

      thead {
        white-space: pre;
      }
    }
  }

  .highlight > .chroma {
    .table-wrapper {
      overflow: auto;

      > table {
        min-width: initial;
      }
    }

    &.open {
      .table-wrapper {
        max-height: 42em;
      }
    }
  }
}

.details {
  .details-content {
    overflow: auto;
  }

  &.open {
    .details-content {
      max-height: 42em;
    }
  }
}

.post-footer {
  .post-nav {
    & a.next {
      text-align: right;
    }
  }
}

.katex-display {
  > .katex {
    overflow: auto hidden;

    .glue {
      min-width: 2rem;
    }

    .base,
    .tag {
      margin: .25em 0;
    }
  }
}

.toc .toc-content {
  ul {
    text-indent: 0;
    padding-left: 0;

    ul {
      padding-left: 1rem;
    }

    li {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  code {
    font-size: var(--code-font-size);
    font-family: var(--code-font-family);
  }
}

#toc-static .toc-content {
  > nav > ul {
    padding: .4rem .2rem;

    ul {
      padding-left: 1.5rem;
    }
  }
}

.site-card {
  display: inline-block;
  box-sizing: border-box;
  width: calc(50% - .75rem);
  padding: 1rem;
  margin: .25rem;
  overflow: hidden;
  color: $global-font-color;
  background-color: darken($global-background-color, 3%);
  @include border-radius(10px);
  @include transition(transform 0.25s ease-out);

  [theme=dark] & {
    color: $global-font-color-dark;
    background-color: darken($global-background-color-dark, 3%);
  }

  .site-logo-wrapper {
    float: left;
    margin-right: 10%;
    width: 4rem;
    height: 4rem;

    .site-logo {
      @include border-radius(100%);
      @include transition(transform 0.25s ease-out);
    }
  }

  &:hover {
    @include transform(scale(1.02));

    .site-logo {
      @include transform(rotate(30deg));
    }
  }

  .site-content-wrapper {
    .site-name {
      -webkit-line-clamp: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.125rem;
      margin: .25rem 0 .5rem;
    }

    .site-desc {
      -webkit-line-clamp: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: .875rem;
    }
  }
}

@media only screen and (max-width: 680px) {
  .site-card {
    width: 100%;
  }
}

.tk-comment {
  .tk-content {
    @include link(false, false);

    a {
      @include overflow-wrap(break-word);

      [theme=dark] & b,
      [theme=dark] & strong {
        color: $single-link-color-dark;
      }
    }

    [theme=dark] a:hover b,
    [theme=dark] a:hover strong {
      color: $single-link-hover-color-dark;
    }
  }

  .tk-time,
  &:hover .tk-actions {
    display: inline-block !important;
    margin: 0 1em 0 0;
  }
}

#twikoo {
  .tk-preview-container {
    img {
      max-width: 100%;
    }
  }
}

.OwO.OwO-open .OwO-body {
  color: $global-font-color;
  background-color: darken($global-background-color, 3%);

  [theme=dark] & {
    color: $global-font-color-dark;
    background-color: lighten($global-background-color-dark, 3%);
  }
}
