.single .content {
  ul,
  ol {
    padding-left: 2rem;
  }

  > .table-wrapper {
    > table {
      min-width: 40rem;

      thead {
        white-space: pre;
      }
    }
  }

  .highlight > .chroma {
    .table-wrapper {
      overflow: auto;
    }

    &.open {
      .table-wrapper {
        max-height: 42em;
      }
    }
  }
}

.details {
  .details-content {
    overflow: auto;
  }

  &.open {
    .details-content {
      max-height: 42em;
    }
  }
}

.katex-display {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
