.single {
  .content {
    ul,
    ol {
      padding-left: 2rem;
    }

    .table-wrapper {
      &::-webkit-scrollbar {
        display: none;
      }

      > table {
        min-width: 40rem;

        thead {
          white-space: pre;
        }
      }
    }
  }
}

.katex-display {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
