// ========== Global ========== //
// Color of the card background
$global-card-background-color: rgba(darken($global-background-color, 3%), 0.8) !default;
$global-card-background-color-dark: rgba(darken($global-background-color-dark, 3%), 0.8) !default;
// ========== Global ========== //

// ========== Code ========== //
// Color of the code
$code-color: #546e7a;
$code-color-dark: #b0bec5;

// Color of the code background
$code-background-color: #fafafa;
$code-background-color-dark: #212121;

// Color map of the code highlight
$code-highlight-color-map: (
  /* Parentheses */ "p": #39adb5,
  /* Keyword */ "k": #7c4dff,
  /* KeywordConstant */ "kc": #f76d47,
  /* KeywordDeclaration */ "kd": #7c4dff,
  /* KeywordNamespace */ "kn": #7c4dff,
  /* KeywordPseudo */ "kp": #7c4dff,
  /* KeywordReserved */ "kr": #7c4dff,
  /* KeywordType */ "kt": #7c4dff,
  /* Name */ "n": #272727,
  /* NameAttribute */ "na": #6182b8,
  /* NameBuiltin */ "nb": #39adb5,
  /* NameBuiltinPseudo */ "bp": #39adb5,
  /* NameClass */ "nc": #f6a434,
  /* NameConstant */ "no": #f76d47,
  /* NameDecorator */ "nd": #39adb5,
  /* NameEntity */ "ni": #e53935,
  /* NameException */ "ne": #e53935,
  /* NameFunction */ "nf": #6182b8,
  /* NameFunctionMagic */ "fm": #6182b8,
  /* NameLabel */ "nl": #e53935,
  /* NameNamespace */ "nn": #e53935,
  /* NameOther */ "nx": #272727,
  /* NameProperty */ "py": #272727,
  /* NameTag */ "nt": #e53935,
  /* NameVariable */ "nv": #e53935,
  /* NameVariableClass */ "vc": #e53935,
  /* NameVariableGlobal */ "vg": #e53935,
  /* NameVariableInstance */ "vi": #e53935,
  /* NameVariableMagic */ "vm": #e53935,
  /* Literal */ "l": #f76d47,
  /* LiteralDate */ "ld": #f76d47,
  /* LiteralString */ "s": #91b859,
  /* LiteralStringAffix */ "sa": #91b859,
  /* LiteralStringBacktick */ "sb": #91b859,
  /* LiteralStringChar */ "sc": #91b859,
  /* LiteralStringDelimiter */ "dl": #91b859,
  /* LiteralStringDoc */ "sd": #91b859,
  /* LiteralStringDouble */ "s2": #91b859,
  /* LiteralStringEscape */ "se": #39adb5,
  /* LiteralStringHeredoc */ "sh": #91b859,
  /* LiteralStringInterpol */ "si": #91b859,
  /* LiteralStringOther */ "sx": #91b859,
  /* LiteralStringRegex */ "sr": #39adb5,
  /* LiteralStringSingle */ "s1": #91b859,
  /* LiteralStringSymbol */ "ss": #91b859,
  /* LiteralNumber */ "m": #f76d47,
  /* LiteralNumberBin */ "mb": #f76d47,
  /* LiteralNumberFloat */ "mf": #f76d47,
  /* LiteralNumberHex */ "mh": #f76d47,
  /* LiteralNumberInteger */ "mi": #f76d47,
  /* LiteralNumberIntegerLong */ "il": #f76d47,
  /* LiteralNumberOct */ "mo": #f76d47,
  /* Operator */ "o": #39adb5,
  /* OperatorWord */ "ow": #39adb5,
  /* Comment */ "c": #aabfc9,
  /* CommentHashbang */ "ch": #aabfc9,
  /* CommentMultiline */ "cm": #aabfc9,
  /* CommentSingle */ "c1": #aabfc9,
  /* CommentSpecial */ "cs": #aabfc9,
  /* CommentPreproc */ "cp": #39adb5,
  /* CommentPreprocFile */ "cpf": #f6a434,
  /* Generic */ "g": #e53935,
  /* GenericDeleted */ "gd": #e53935,
  /* GenericEmph */ "ge": #e53935,
  /* GenericError */ "gr": #e53935,
  /* GenericHeading */ "gh": #e53935,
  /* GenericInserted */ "gi": #e53935,
  /* GenericOutput */ "go": #e53935,
  /* GenericPrompt */ "gp": #e53935,
  /* GenericStrong */ "gs": #e53935,
  /* GenericSubheading */ "gu": #e53935,
  /* GenericTraceback */ "gt": #e53935,
  /* TextWhitespace */ "w": #bbbbbb,
);
$code-highlight-color-map-dark: (
  /* Parentheses */ "p": #89ddff,
  /* Keyword */ "k": #c792ea,
  /* KeywordConstant */ "kc": #f78c6c,
  /* KeywordDeclaration */ "kd": #c792ea,
  /* KeywordNamespace */ "kn": #c792ea,
  /* KeywordPseudo */ "kp": #c792ea,
  /* KeywordReserved */ "kr": #c792ea,
  /* KeywordType */ "kt": #c792ea,
  /* Name */ "n": #eeffff,
  /* NameAttribute */ "na": #82aaff,
  /* NameBuiltin */ "nb": #89ddff,
  /* NameBuiltinPseudo */ "bp": #89ddff,
  /* NameClass */ "nc": #ffcb6b,
  /* NameConstant */ "no": #f78c6c,
  /* NameDecorator */ "nd": #89ddff,
  /* NameEntity */ "ni": #f07178,
  /* NameException */ "ne": #f07178,
  /* NameFunction */ "nf": #82aaff,
  /* NameFunctionMagic */ "fm": #82aaff,
  /* NameLabel */ "nl": #f07178,
  /* NameNamespace */ "nn": #f07178,
  /* NameOther */ "nx": #eeffff,
  /* NameProperty */ "py": #eeffff,
  /* NameTag */ "nt": #f07178,
  /* NameVariable */ "nv": #f07178,
  /* NameVariableClass */ "vc": #f07178,
  /* NameVariableGlobal */ "vg": #f07178,
  /* NameVariableInstance */ "vi": #f07178,
  /* NameVariableMagic */ "vm": #f07178,
  /* Literal */ "l": #f78c6c,
  /* LiteralDate */ "ld": #f78c6c,
  /* LiteralString */ "s": #c3e88d,
  /* LiteralStringAffix */ "sa": #c3e88d,
  /* LiteralStringBacktick */ "sb": #c3e88d,
  /* LiteralStringChar */ "sc": #c3e88d,
  /* LiteralStringDelimiter */ "dl": #c3e88d,
  /* LiteralStringDoc */ "sd": #c3e88d,
  /* LiteralStringDouble */ "s2": #c3e88d,
  /* LiteralStringEscape */ "se": #89ddff,
  /* LiteralStringHeredoc */ "sh": #c3e88d,
  /* LiteralStringInterpol */ "si": #c3e88d,
  /* LiteralStringOther */ "sx": #c3e88d,
  /* LiteralStringRegex */ "sr": #89ddff,
  /* LiteralStringSingle */ "s1": #c3e88d,
  /* LiteralStringSymbol */ "ss": #c3e88d,
  /* LiteralNumber */ "m": #f78c6c,
  /* LiteralNumberBin */ "mb": #f78c6c,
  /* LiteralNumberFloat */ "mf": #f78c6c,
  /* LiteralNumberHex */ "mh": #f78c6c,
  /* LiteralNumberInteger */ "mi": #f78c6c,
  /* LiteralNumberIntegerLong */ "il": #f78c6c,
  /* LiteralNumberOct */ "mo": #f78c6c,
  /* Operator */ "o": #89ddff,
  /* OperatorWord */ "ow": #89ddff,
  /* Comment */ "c": #616161,
  /* CommentHashbang */ "ch": #616161,
  /* CommentMultiline */ "cm": #616161,
  /* CommentSingle */ "c1": #616161,
  /* CommentSpecial */ "cs": #616161,
  /* CommentPreproc */ "cp": #89ddff,
  /* CommentPreprocFile */ "cpf": #ffcb6b,
  /* Generic */ "g": #ff5370,
  /* GenericDeleted */ "gd": #ff5370,
  /* GenericEmph */ "ge": #ff5370,
  /* GenericError */ "gr": #ff5370,
  /* GenericHeading */ "gh": #ff5370,
  /* GenericInserted */ "gi": #ff5370,
  /* GenericOutput */ "go": #ff5370,
  /* GenericPrompt */ "gp": #ff5370,
  /* GenericStrong */ "gs": #ff5370,
  /* GenericSubheading */ "gu": #ff5370,
  /* GenericTraceback */ "gt": #ff5370,
  /* TextWhitespace */ "w": #bbbbbb,
);
// ========== Code ========== //
