.site-link {
  font-size: 0;
  line-height: 1.25rem;
}

.site-card {
  display: inline-block;
  box-sizing: border-box;
  width: calc(50% - 1rem);
  padding: 1rem;
  margin: .25rem .5rem;
  overflow: hidden;
  color: $global-font-color;
  background-color: darken($global-background-color, 6%);
  @include border-radius(10px);
  @include transition(transform 0.25s ease-out);

  [theme=dark] & {
    color: $global-font-color-dark;
    background-color: darken($global-background-color-dark, 6%);
  }

  .site-logo-wrapper {
    float: left;
    margin-right: 10%;
    width: 4rem;
    height: 4rem;

    .site-logo {
      @include object-fit(cover);
      @include border-radius(100%);
      @include transition(all 0.25s ease-out);
    }
  }

  &:hover {
    @include transform(scale(1.025));

    .site-logo {
      @include transform(rotate(30deg));
    }
  }

  .site-content-wrapper {
    .site-name {
      -webkit-line-clamp: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.125rem;
      line-height: 1.5rem;
      margin: .25rem 0 .5rem;
    }

    .site-desc {
      -webkit-line-clamp: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: .875rem;
      line-height: 1.5rem;
    }
  }
}

@media only screen and (max-width: 680px) {
  .site-card {
    width: 100%;
    margin: .25rem 0;
  }
}
