.apple-music {
  position: relative;
  width: 100%;
  margin: 3% auto;
  text-align: center;

  iframe {
    width: 100%;
    @include border-radius(10px);
    @include box-shadow(0 4px 16px rgba(0, 0, 0, 0.1));
  }

  .apple-music-light {
    display: block;
  }

  .apple-music-dark {
    display: none;
  }

  [theme='dark'] & {
    .apple-music-light {
      display: none;
    }

    .apple-music-dark {
      display: block;
    }
  }
}
